<h1>Histórico de Compras</h1>

{% for compra in compras %}
    <h2>Data da compra: {{ compra.data_compra|date:"d 'de' F 'de' Y 'às' H:i" }}</h2>
    <p>Total: R$ {{ compra.total }}</p>

    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Quantidade</th>
                <th>Hora da Compra</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in compra.produtos.all %}
            <tr>
                <td>{{ produto.nome_produto }}</td>
                <td>{{ produto.estoque }}</td>
                <td>{{ compra.data_compra|time:"H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
{% endfor %}

<!-- Botão de Voltar para a Home -->
<button onclick="window.location.href='{% url 'mercado:home' %}'" style="margin-top: 20px; padding: 10px; background-color: #000; color: #fff; border: none; cursor: pointer; border-radius: 5px;">
    Voltar para Home
</button>

